/***** 1. Общие стили *****/
/*** Шрифты ***/
body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	background: #070707 url("../img/index-main-bg.jpg") no-repeat;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;

}

h2 {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
}

/*** Clearfix ***/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/***** 2. Сетка *****/
	/*-- Общее --*/
/***Центровщик блоков**/
.container {
	width: 940px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

/*** Шапка (header) ***/
.main-header {
	min-height: 72px;
	background-color: #000000;
	color: #ffffff;
}

.main-menu {
	float: left;
	width: 600px;
}

.main-menu ul {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 0;
}

.main-menu li {
	display: inline-block;
	vertical-align: top;

}

.main-menu li:last-child {
	margin-right: 0;
}

.main-menu a,
.user-block a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	padding: 26px 20px;
	color: #ffffff;
}

.main-menu a:hover,
.user-block a:hover {
	background-color: #242424;
}

.user-block {
	float: right;
	width: 140px;
	text-align: right;
}

.user-block a {
	position: relative;
	padding: 26px;
	padding-left: 53px;
	padding-right: 20px;
}

.login::before {
	position: absolute;
	content: "";
	background: url("../img/sprite-ico.png") no-repeat;
	width: 18px;
    height: 16px;
    top: 29px;
    left: 22px;
    background-position: -10px -176px;
	opacity: 0.4;
}

.login:hover::before {
	opacity: 1;
}

.active-page {
	box-shadow: inset 0 -4px #ffffff; 
}

/*** breadcrumbs  ***/
.breadcrumbs {
	margin-bottom: 55px;
}

.breadcrumbs ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 24px;
}

/*** Подвал (footer) ***/
.main-footer {
	padding-top: 55px;
	padding-bottom: 37px;
	background: #222222 url("../img/footer-texture.jpg");
	color: #ffffff;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 80px;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-social {
	float: left;
	width: 141px;
	font-size: 0;
	text-align: center;
}

.main-footer p {
	font-size: 14px;
	margin: 0;
}

.footer-social p,
.footer-copyright p {
	margin-bottom: 16px;
}

.footer-social a {
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
	width: 43px;
	height: 43px;
	font-size: 0;
	color: white;
}

.footer-social a:last-child {
	margin-right: 0;
}

.social {
	position: relative;
	background-color: #000000;
	transition: 0.5s;
	transition-property: background-color;

}

.social:hover {
	background-color: #ffffff;
}

.vk-social::after,
.fb-social::after,
.inst-social::after {
	position: absolute;
	content: "";
	background: url("../img/sprite-ico.png") no-repeat;
    width: 25px;
    height: 40px;
    top: 0px;
    transition: 0.5s;
}

.vk-social::after {
	background-position: -10px -234px;
	top: 0px;
	left: 9px;	
}

.vk-social:hover::after {
    background-position: -10px -198px;
}

.fb-social::after {
    background-position: -10px -42px;
	left: 15px;
}

.fb-social:hover::after {
    background-position: -10px -0px;
}

.inst-social::after {
	background-position: -10px -125px;
	left: 12px;
}

.inst-social:hover::after {
    background-position: -10px -84px;
}

.footer-copyright {
	float: right;
	width: 140px;
	text-align: center;
}

.footer-copyright .btn {
	display: inline-block;
	vertical-align: top;
	padding: 11px 20px 12px 24px;
}

.footer-copyright .btn:hover {
	color: #000000;
	background-color: #ffffff;
}


/*** button ***/
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 16px 25px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	background: #000000;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	border: none;
}

.btn:hover {
	background-color: #663d15;
}

/*** Общее для внутренних страниц ***/
.header-logo  {
	float: left;
	padding: 20px;
	padding-top: 23px;
	padding-bottom: 18px
}


.main-shop,
.main-price,
.main-item {
	background: #f8f5f2 url("../img/white-texture.jpg");
}


/*** Основной контент (main) ***/
	/*-- index.html (главная) --*/
.main-index {
	padding-top: 60px;
	padding-bottom: 65px;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 21px;
}

.features {
	margin-bottom: 80px;
	color: #f7f4f1;
}

.features-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 300px;
	margin-right: 20px;
	margin-left: -4px;
}

.features-item p {
	margin: 0;
	padding: 0 10px;
}

.features-item b {
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	line-height: 42px;
	padding-bottom: 65px;
}

.features-item::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	top: 53px;
	left: 50%;
	margin-left: -10px;
	background-color: #f7f4f1;
	transform: rotate(45deg);
}
	/*убираем отрицательный отступ у первого элемента,
	сделайный для ликвидиции пробела inline-block */
.features-item:first-child {
	margin-left: 0;
}

.features-item:last-child {
	margin-right: 0;
}

.index-content {
	padding: 45px 80px 50px 80px;
	margin-bottom: 35px;
	background:
		url("../img/index-decor.png") no-repeat,
		#f8f5f2 url("../img/white-texture.jpg");
	background-position: 50% 50%, 0 0;
	color: #000000;
}

.index-content h2{
	margin: 0;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 25px;
}

.news,
.contacts {
	float: left;
	width: 380px;
}

.news time {
	display: block;
	margin-bottom: 25px;
}

.news p {
	margin-bottom: 4px;
}

.gallery,
.enroll {
	float: right;
	width: 300px;
}

.gallery-img {
	border: 7px solid #ffffff;
	width: 286px;
	height: 164px;
	margin-bottom: 38px;
}

.gallery .btn {
	padding-right: 50px;
	padding-left: 50px;
}

.gallary-prev {
	margin-right: 20px;
}

.contacts p,
.enroll p {
	margin-bottom: 25px;
}

.enroll-form input[type="text"] {
	box-sizing: border-box;
	width: 140px;
	margin-bottom: 20px;
	padding: 7px 15px;
	border: 2px solid #000101;
	outline: none;
}

.enroll-form input[type="text"]:nth-child(odd) {
	margin-right: 16px;
}

.enroll-form input[type="text"]:focus {
	border-color: #663d15;
}

	/*-- price.html (прайс) --*/
.main-price {
	padding-top: 55px;
	padding-bottom: 80px;
}

.price-features {
	float: left;
	width: 300px;
}

.price-features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-prices {
	float: right;
	width: 460px;
}

.slogan {
	margin-bottom: 72px;
}

.about-us-left-col {
	float: left;
	width: 380px;
}

.about-us-right-col {
	float: right;
	width: 380px;
	margin-right: 80px;
}

	/*-- shop.html (магазин) --*/
.main-shop  {
	padding-top: 55px;
	padding-bottom: 49px;
}

.sorting {
	float: left;
	width: 180px;
	margin-right: 60px;
}

.catalog {
	float: right;
	width: 700px;
}

.catalog-item {
	display: inline-block;
	width: 220px;
	margin-right: 20px;
	margin-left: -4px;
	vertical-align: top;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(4) {
	margin-left: 0;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.pagination {
	padding-top: 45px;
}

	/*-- item.html (товар) --*/

.main-item {
	padding-top: 55px;
	padding-bottom: 49px;
}

.sorting ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-gallery {
	float: left;
	width: 460px;
}

.item-description {
	float: right;
	width: 390px;
}

.item-gallery-preview {
	padding-top: 20px;
	font-size: 0;
}

.item-gallery-preview img {
	margin-right: 20px;
	outline: 1px solid pink;
}

.item-gallery-preview img:last-child {
	margin-right: 0;
}

.product-available {
	float: left;
}

.product-article {
	float: right;
}


/***** - Для тестирования - *****/
/**Ободка главных модулей**/
footer {
	outline: 1px solid blue;
}

/**Ободка главных модулей*
.container {
	outline: 1px solid gray;
}
*/

/**Ободка блоков "второй" вложенности**/
.breadcrumbs,
.slogan,
.price-content,
.about-us,
.sorting,
.catalog,
.item-gallery,
.item-description {
	outline: 1px solid green;
}

/**Ободка блоков "третий" вложенности**/
.price-features,
.service-prices,
.about-us-right-col,
.about-us-left-col,
.pagination,
.item-gallery-preview {
	outline: 1px solid pink;
}

