/***** 1. Общие стили *****/
/*** Шрифты ***/
body {
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	background: #070707 url("../img/index-main-bg.jpg") no-repeat;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;

}

h2 {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
}

/*** Clearfix ***/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/***** 2. Сетка *****/
	/*-- Общее --*/
/***Центровщик блоков**/
.container {
	width: 940px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

/*** Шапка (header) ***/
.main-header {
	min-height: 72px;
	background-color: #000000;
	color: #ffffff;
}

.main-menu {
	float: left;
	width: 640px;/*!*/
}

.main-menu ul {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 0;
}

.main-menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px; /*!*/
}

.main-menu li:last-child {
	margin-right: 0;
}

.main-menu a,
.user-block a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	padding: 26px 20px;
	color: #ffffff;
}

.user-block {
	float: right;
	width: 160px;
}

/*** breadcrumbs  ***/
.breadcrumbs {
	margin-bottom: 55px;
}

.breadcrumbs ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
	font-size: 14px; /*!*/
	line-height: 24px; /*!*/
}

/*** Подвал (footer) ***/
.main-footer {
	padding-top: 60px;
	padding-bottom: 41px;
	background: #222222 url("../img/footer-texture.jpg"); /*!*/
	color: #ffffff;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 80px;
}

.footer-contacts a {
	color: #ffffff;
}

.footer-social {
	float: left;
	width: 141px;
	font-size: 0;
}

.main-footer p {
	font-size: 14px;
	margin: 0;
}

.footer-social a {
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
	width: 43px;
	height: 43px;
	font-size: 0;
	color: white;
}

.footer-social a:last-child {
	margin-right: 0;
}

.social {
	position: relative;
	background-color: black; /*!*/
	transition: 0.5s;
	transition-property: background-color;

}

.social:hover {
	background-color: #ffffff;
}

.vk-social::after,
.fb-social::after,
.inst-social::after {
	position: absolute;
	content: "";
	background: url("../img/sprite-ico.png") no-repeat;
    width: 25px;
    height: 40px;
    top: 0px;
    transition: 0.5s;
}

.vk-social::after {
	background-position: -10px -234px;
	top: 0px;
	left: 9px;	
}

.vk-social:hover::after {
    background-position: -10px -198px;
}

.fb-social::after {
    background-position: -10px -42px;
	left: 15px;
}

.fb-social:hover::after {
    background-position: -10px -0px;
}

.inst-social::after {
	background-position: -10px -125px;
	left: 12px;
}

.inst-social:hover::after {
    background-position: -10px -84px;
}

.footer-copyright {
	float: right;
	width: 140px;
}


/*** button ***/
.btn {
	padding: 16px 25px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	background: #000000;
	text-decoration: none;
	outline: none;
	border: none;
}

/*** Общее для внутренних страниц ***/
.header-logo  {
	float: left;
}


.main-shop,
.main-price,
.main-item {
	background: #f9f6f3 url("../img/white-texture.jpg"); /*!*/
}


/*** Основной контент (main) ***/
	/*-- index.html (главная) --*/
.main-index {
	padding-top: 60px;
	padding-bottom: 65px;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.features {
	margin-bottom: 80px;
	color: #f7f4f1;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 300px;
	margin-right: 20px;
	margin-left: -4px;
}

.features-item b {
	font-size: 30px;
	line-height: 42px;
}
	/*убираем отрицательный отступ у первого элемента,
	сделайный для ликвидиции пробела inline-block */
.features-item:first-child {
	margin-left: 0;
}

.features-item:last-child {
	margin-right: 0;
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	background: #f9f6f3 url("../img/white-texture.jpg"); /*!*/
	color: #000000; /*!*/
}

.index-content h2{
	font-size: 30px;
	line-height: 42px;
}

.news,
.contacts {
	float: left;
	width: 380px;
}

.gallery,
.enroll {
	float: right;
	width: 300px;
}

	/*-- price.html (прайс) --*/
.main-price {
	padding-top: 55px;
	padding-bottom: 80px;
}

.price-features {
	float: left;
	width: 300px;
}

.price-features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-prices {
	float: right;
	width: 460px;
}

.slogan {
	margin-bottom: 72px;
}

.about-us-left-col {
	float: left;
	width: 380px;
}

.about-us-right-col {
	float: right;
	width: 380px;
	margin-right: 80px;
}

	/*-- shop.html (магазин) --*/
.main-shop  {
	padding-top: 55px;
	padding-bottom: 49px;
}

.sorting {
	float: left;
	width: 180px;
	margin-right: 60px;
}

.catalog {
	float: right;
	width: 700px;
}

.catalog-item {
	display: inline-block;
	width: 220px;
	margin-right: 20px;
	margin-left: -4px;
	vertical-align: top;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(4) {
	margin-left: 0;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.pagination {
	padding-top: 45px;
}

	/*-- item.html (товар) --*/

.main-item {
	padding-top: 55px;
	padding-bottom: 49px;
}

.sorting ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.item-gallery {
	float: left;
	width: 460px;
}

.item-description {
	float: right;
	width: 390px;
}

.item-gallery-preview {
	padding-top: 20px;
	font-size: 0;
}

.item-gallery-preview img {
	margin-right: 20px;
	outline: 1px solid pink;
}

.item-gallery-preview img:last-child {
	margin-right: 0;
}

.product-available {
	float: left;
}

.product-article {
	float: right;
}


/***** - Для тестирования - *****/
/**Ободка главных модулей**/
header,
main,
footer {
	outline: 3px solid blue;
}

/**Ободка главных модулей**/
.container {
	outline: 2px solid gray;
}

/**Ободка блоков "второй" вложенности**/
.main-menu,
.user-block,
.features,
.index-logo,
.index-content,
.main-footer,
.breadcrumbs,
.slogan,
.price-content,
.about-us,
.sorting,
.catalog,
.item-gallery,
.item-description {
	outline: 2px solid green;
}

/**Ободка блоков "третий" вложенности**/
.features-item,
.news,
.contacts,
.gallery,
.enroll,
.footer-contacts,
.footer-social,
.footer-copyright,
.price-features,
.service-prices,
.about-us-right-col,
.about-us-left-col,
.pagination,
.item-gallery-preview {
	outline: 1px solid pink;
}


/* sprite temp
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb-b {
    width: 12px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-fb-w {
    width: 12px;
    height: 22px;
    background-position: -10px -52px;
}

.sprite-inst-b {
    width: 21px;
    height: 21px;
    background-position: -10px -94px;
}

.sprite-inst-w {
    width: 21px;
    height: 21px;
    background-position: -10px -135px;
}

.sprite-login {
    width: 18px;
    height: 16px;
    background-position: -10px -176px;
}

.sprite-vk-b {
    width: 25px;
    height: 16px;
    background-position: -10px -212px;
}

.sprite-vk-w {
    width: 25px;
    height: 16px;
    background-position: -10px -248px;
}

*/
